//Sea Section
.sea-section {
  background-color: $primaryColor;
  height: 100vh;
  text-align: center;
  @include mobiletMQ {
    height: 75vh;
    padding: 0;
  }

  .sea-container {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 45vh;
    @include tabletMQ {
      margin-top: 120px;
    }
    @include mobiletMQ {
      max-width: 550px;
      padding-top: 0;
      margin-top: 0;
      padding: 100px 20px;
    }
  }

  .sea-container h3 {
    @include mobiletMQ {
      font-size: 3.2rem;
    }
  }
  .sea-container p {
    text-align: left;

    @include tabletMQ {
      font-size: 1.8rem;
      max-width: 800px;
      margin: 0 20px;
    }
  }

  button{
    &:hover, &:focus{
      background-color: $secondaryColor;
      color: white;
    }
  }
}


// About Section
.about-section {
  background-color: $secondaryColor;
  padding: 10rem 0 4rem 0;
  @include tabletMQ {
    padding-top: 50px;
    padding-bottom: 3rem;
  }

  .about-section button {
    background: $primaryColor;
    color: $baseFontColor;

  }
  .about-section button:hover,
  .about-section button:focus {
    color: $accentColor;
  }

  .about-container {
    display: flex;
    justify-content: space-between;
    @include tabletMQ {
      display: block;
    }
  }
  .left-side {
    @include tabletMQ {
      display: flex;
      flex-wrap: wrap-reverse;
    }
  }
  .about-left-image img {
    box-shadow: 30px 30px $accentColor;
    position: relative;
    @include tabletMQ {
      position: static;
      border: 30px solid $accentColor;
      box-shadow: -30px 30px #0c1423;
      max-width: 500px;
      width: 80%;
      margin: 0 auto;
    }
  }
  .about-left-image img {
    top: -30%;
    @include tabletMQ {
      top: 0;
    }
  }

  .left-side {
    @include tabletMQ {
       display: flex;
      flex-wrap: wrap-reverse;
      text-align: center;
       justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .about-right-image img {
    box-shadow: -30px 30px $accentColor;
    position: relative;
    @include tabletMQ {
      border: 30px solid $accentColor;
      box-shadow: 30px -30px #0c1423;
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .about-left-content,
  .about-right-content {
    max-width: 600px;
    width: 100%;
    @media(max-width: 1300px){
      max-width: 400px;
    }
    @include tabletMQ {
      text-align: center;
      max-width: 400px;
      margin: 0 20px;
    }

  }

  .about-left-content {
    text-align: right;
    @include tabletMQ {
      padding-top: 25px;
    }
  }

  .about-right-content {
    text-align: left;
    @include tabletMQ {
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      text-align: left;
    }
    }
     button{
      &:hover, &:focus{
      background-color: $primaryColor;
      color: white;
    }
  }
  }


//Contact Section

.contact-container {
  background-color: $primaryColor;
  color: $baseFontColor;
  padding: 15rem 0;
  @include tabletMQ {
    padding: 50px 0;
  }
  .contact-info {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-icons {
    display: flex;
  }
  .contact-icons i {
    background: #86e0f9;
    color: #0c1423;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 49px;
    vertical-align: middle;
    font-size: 1.8rem;
  }

  .contact-content {
    max-width: 400px;
    padding: 0 0 2rem 2rem;
    margin: 0 auto;
    @include tabletMQ {
      max-width: 500px;
      padding: 0 0 20px 0;
    }
  }
    i {
      &:hover, &:focus{
      background-color: $secondaryColor;
      color: white;
    }
}
  .contact-content h4{
      font-size: 3rem;
    }
}

// Whale section

.whales img {
  width: 100%;
  display: block;
  margin-bottom: 50px;
}

// This Month Container

.this-month {
  background-color: $primaryColor;
  height: 67vh;
  padding-top: 5rem;
  @include mobiletMQ {
    height: 70vh;
  }
  @include smallMQ {
    height: 80vh;
  }

  .month-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .month-image img {
    box-shadow: 30px 30px $accentColor;
    width: 100%;
    @media (max-width: 1280px) {
      display: none;
    }
  }
  .month-content {
    max-width: 800px;

    @media (max-width: 1280px) {
      margin: 0 auto;
    }
  }
  .month-content h5{
    @include elementSize($fontBarlow, 32px, 1px);
    margin-bottom: 20px;
    text-transform: uppercase;
    @include mobiletMQ {
    font-size:3rem;
  }
  }
    button{
      &:hover, &:focus{
      background-color: $secondaryColor;
      color: white;
    }
  }
}

.home-images {
  background-color: $secondaryColor;
  height: 70vh;
  padding: 5rem 0;
  @include tabletMQ {
    height: 75vh;
  }

  @include mobiletMQ {
    height: 60vh;
    padding: 4rem 0;
  }
  @include smallMQ {
    height: 40vh;
  }

  .fish-section {
    display: flex;
    justify-content: space-between;
  }

  .fish-section img {
    width: 400px;
    padding: 0 10px;
    max-width: 100%;
    @include mobiletMQ {
      max-width: 90%;
    }
  }
}
.last-fish {
  @include tabletMQ {
    display: none;
  }
}

footer {
  background: $accentColor;
  color: #0c1423;
  text-align: center;
  padding: 1rem;
}
